.ticker-output {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  border: solid black 1px;

  > .ticker-string {
    left: 100%;
    animation: ticker infinite;
    box-sizing: content-box;
  }
}
